.password-recovery-container{
    height: 100%;
    background: var(--clr-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--clr-secundary)
}
.password-recovery-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-recovery-container *+*{
    margin-top: .5rem;


}
.password-recovery-container *{
    padding: 1rem;
}

.password-recovery-container .go-back{
    width: 100%;
}
.password-recovery-container h1{
    color:var(--clr-secundary)

}

.password-recovery-container form *{
    width: 100%;
}